<b>Angular 2 Component Using Observables!</b>

<h6 style="margin-bottom: 0">STATUS:</h6>
<div>{{status}}</div>

<button style="margin-top: 2rem;" (click)="init()">Init</button>

<h6 style="margin-bottom: 0">VALUES:</h6>

<ul>
  <li *ngFor="let value of values">
    {{value}}
  </li>
</ul>
