<h2>Event Clock with Linked Events and Character Status</h2>

<div class="row">
    <div class="col-sm-6">
        <div>
            <button (click)=addMinutes(15) type="button" class="btn btn-info">Jump 15 Minutes</button>
        </div>
        <div>
            <button (click)=toggleClock() type="button" class="btn btn-info">Toggle Clock</button>
        </div>
        <div>
            <button (click)=printPlayerCharacterToConsole() type="button" class="btn btn-info">Print Player Character</button>
        </div>

        <div [ngClass]="{'paused': isClassVisible }">
            {{currentTime}}
        </div>

        <div>
            Time Difference: {{getTimeDifference()}}
        </div>

    </div>
    <div class="col-sm-6">

        <div *ngIf="playerCharacter">
            <h4>
                Player Character:
            </h4>
            {{playerCharacter.name}} Happiness: {{playerCharacter.happiness}}

            <h4>Properties: </h4>
            <div *ngFor="let charProperty of playerCharacter.properties">
                {{ charProperty.propertyName }} : {{ charProperty.intensity }}
            </div>

        </div>

    </div>
</div>

<hr />

<app-available-actions [eventListInput]="startedEventList" (sendCompletedEventToClockComponent)="getClickedEventFromAvailableActions($event)"></app-available-actions>

<!-- 
<hr />

<app-message-board [eventList]="eventList" [startedEventList]="startedEventList"></app-message-board>

<hr/> -->

<div class="row">
    <div class="col-sm-12">
        <app-modal-window [masterValue]="master" [passedEventFromClock]="passedEvent" (sendCompletedEventToClockComponent)="consumeEventFromModal($event)"></app-modal-window>
    </div>
</div>



<!-- <button (click)="childRef.test()">Call the child test function</button> -->