<!-- Trigger/Open The Modal -->
<button id="myBtn" (click)=manuallyOpenModal()>Manually Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="row">
      <div class="col-sm-12">
        <span class="close" (click)=closeModal()>&times;</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="!currentStartedEvent">
          <p>No Events have started yet... </p>
        </div>

        <div *ngIf="currentStartedEvent">
          <div>{{currentStartedEvent.eventText}}</div>
          <div>Base Happiness Effect from Event: {{currentStartedEvent.happiness}}</div>

          <div *ngIf="currentStartedEvent.buttons">
            <div>Event Choices: </div>
            <div class="col-sm-3" *ngFor="let button of currentStartedEvent.buttons">
              <button class="btn btn-primary" (click)=closeModal(button)>{{button}}</button>
            </div>
          </div>

          <div *ngIf="!currentStartedEvent.buttons">
            <div class="col-sm-3">
              <button class="btn btn-primary" (click)=closeModal()>Ok...</button>
            </div>
          </div>

          <div *ngIf="currentStartedEvent.nextEvent !== null">
            <hr/>
            <div>
              There is a linked event
            </div>
            <div>
              {{currentStartedEvent.nextEvent.eventText}}
            </div>
            <div>
              Start Time: {{currentStartedEvent.nextEvent.startTime}}
            </div>
            <div>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<!-- NOTE: This was just an attempt to do keyboard events -->
<!-- <input (keyup)="onKey($event)">
<p>{{values}}</p> -->