<div class="row">
  <div class="col-sm-12">
    <h3>
      All Events
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <!-- <ul>
      <li *ngFor="let event of eventList">
        <div class="col-sm-3">
          <div>{{event.eventText}}</div>
        </div>
        <div class="col-sm-3">
          <div>Create Time: {{event.createTime}}</div>
        </div>
        <div class="col-sm-3">
          <div>Start Time: {{event.startTime}}</div>
        </div>
        <div class="col-sm-3">
          <div>Expire Time: {{event.expireTime}}</div>
        </div>
      </li>
    </ul> -->
    <div>
      <div *ngFor="let event of eventList">
        <div class="row">
          <div class="col-sm-3">
            <div>{{event.eventText}}</div>
          </div>
          <div class="col-sm-3">
            <div>Create Time: {{event.createTime}}</div>
          </div>
          <div class="col-sm-3">
            <div>Start Time: {{event.startTime}}</div>
          </div>
          <div class="col-sm-3">
            <div>Expire Time: {{event.expireTime}}</div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>
      Started Events
    </h3>
  </div>
</div>

<div class="row">
  <div *ngFor="let startedEvent of startedEventList">
    <div class="row">
      <div class="col-sm-3">
        <div>{{startedEvent.eventText}}</div>
      </div>
      <div class="col-sm-3">
        <div>Create Time: {{startedEvent.createTime}}</div>
      </div>
      <div class="col-sm-3">
        <div>Start Time: {{startedEvent.startTime}}</div>
      </div>
      <div class="col-sm-3">
        <div>Expire Time: {{startedEvent.expireTime}}</div>
      </div>
    </div>
    <hr />
  </div>
</div>


<!-- <div>
  <button type="button" class="btn btn-info" (click)="addMessage()">Add Message</button>
</div>

<ul>
  <li *ngFor="let message of messages">
    <div>{{message}}</div>
  </li>
</ul> -->