<h2>
  Available Actions
</h2>

<div class="row">
  <div *ngFor="let startedEvent of eventListFromClock">
    <div class="row">
        <div class="col-sm-3">
            <div>{{startedEvent.eventText}}</div>
          </div>
          <!-- <div class="col-sm-3">
            <div>Create Time: {{startedEvent.createTime}}</div>
          </div> -->
          <div class="col-sm-3">
            <div>Start Time: {{startedEvent.startTime}}</div>
          </div>
          <div class="col-sm-3">
            <div>Expire Time: {{startedEvent.expireTime}}</div>
          </div>
          <div class="col-sm-3">
            <button (click)="startEvent(startedEvent)">Start Event...</button>
          </div>
    </div>
    <hr />
  </div>
</div>

<hr/>