<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-clock></app-clock>
        </div>
    </div>
    
    <hr />
    <!-- NOTE: This is an example of "pushing" data to 2 different components from the same service -->
    <!-- <div class="row">
        <div class="col-sm-6">
            <app-receive-data-test></app-receive-data-test>
        </div>
        <div class="col-sm-6">
            <app-push-data-test></app-push-data-test>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-sm-12">
            <app-add-event-calendar></app-add-event-calendar>
        </div>
    </div> -->

</div>