/* :host {
    display: block;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */
/* 
:host button{
    color: blue;
} */

:host {
    display: block;
    background-color: black;
    /* color: white; */
}

button{
    color: blue;
}